@import "./nullstyle.scss";
h2 {
	font-size: 18px;
	line-height: 110%;
	font-weight: 600;
}
.wraper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #000000;
	font-weight: 500;
}
.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(10px);
	z-index: 0;
}
.game {
	z-index: 1;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@media (max-width: 498px) {
		display: block;
		top: 45%;
	}

	&__info {
		margin-right: 80px;
		@media (max-width: 598px) {
			margin-right: 30px;
		}

		@media (max-width: 498px) {
			margin: 0px 0px 30px 0px;
			display: flex;
			:not(:last-child) {
				margin-right: 10px;
			}
		}
	}

	&__board {
	}
}
.info {
	&__menu-btn {
		padding: 15px;
		margin-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.3);
		border-radius: 25%;
		font-size: 24px;
		font-weight: 600;
		color: #000000;
	}
	&__menu-btn:hover {
		background-color: rgba(255, 255, 255, 0.4);
	}

	&__score {
		margin-bottom: 15px;
		@media (max-width: 498px) {
			display: flex;
		}
	}
	&__title {
		margin-bottom: 10px;
	}
	&__statistic {
	}
	&__statistic :not(:last-child) {
		margin-bottom: 5px;
	}
	&__score-result {
	}
	&__score-result span {
		margin-left: 5px;
	}

	&__move {
		font-size: 16px;
		font-weight: 600;
	}
	&__move.hidden {
		opacity: 0;
		visibility: hidden;
	}
	&__move span {
		text-transform: uppercase;
		font-weight: 500;
		margin-left: 5px;
		color: aliceblue;
	}

	&__menu {
		display: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	&__menu.active {
		display: block;
	}
}
.menu {
	padding: 30px;
	width: 280px;
	color: aliceblue;
	border-radius: 10px;
	background-color: #000000;
	box-shadow: rgb(0, 0, 0) 3px 4px 8px 3px;
	&__rival {
		margin-bottom: 20px;
	}

	&__rival-title {
		margin-bottom: 10px;
	}

	&__rival-btns {
	}

	&__rival-btn {
		text-transform: uppercase;
	}

	&__rival-btn.active {
		border: 1px solid aliceblue;
	}

	&__move.hidden {
		opacity: 0;
		visibility: hidden;
	}

	&__move-title {
		margin-bottom: 10px;
	}

	&__move-btns {
	}

	&__move-btn.active {
		border: 1px solid aliceblue;
	}

	&__close-btn {
		margin-top: 10px;
	}
}
.btns-menu {
	padding: 15px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 10px;
	transition: 0.2s ease;
}
.btns-menu:hover {
	background-color: rgba(255, 255, 255, 0.2);
}

.board {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	&__cell {
		font-size: 18px;
		font-weight: 700;
		width: 33.333%;
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid rgba(0, 0, 0, 0.3);
		background: rgba(255, 255, 255, 0.2);
		border-radius: 25%;
		cursor: pointer;
		transition: 0.2s ease;
	}
	&__cell.win {
		background: #00ffff4a;
	}

	&__cell:hover {
		background: rgba(255, 255, 255, 0.4);
	}
}
.contacts {
	padding: 20px 0;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 1;
	display: flex;
	align-items: center;
	&__school {
		position: relative;
		width: 200px;
		margin-right: 10px;
	}
	&__projects {
		font-size: 32px;
		font-weight: 600;
		color: wheat;
	}
}
.contacts :not(:last-child) {
	margin-right: 20%;
}
