@import "./nullstyle.scss";
h2 {
	font-size: 18px;
	line-height: 110%;
	font-weight: 600;
}
.wraper {
	position: relative;
	min-height: 100vh;
	width: 100vw;
	overflow: hidden;
	background-color: #000000;
	font-weight: 500;
}
.background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	filter: blur(10px);
	z-index: 0;
}
.game {
	z-index: 1;
	margin: 0 auto;
	padding: 0 15px;
	display: flex;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	@media (max-width: 498px) {
		display: block;
	}

	&__info {
		margin-right: 80px;
		@media (max-width: 598px) {
			margin-right: 30px;
		}

		@media (max-width: 498px) {
			margin: 0px 0px 30px 0px;
		}
	}

	&__board {
	}
}
.info {
	&__menu-btn {
		padding: 15px;
		margin-bottom: 20px;
		background-color: rgba(255, 255, 255, 0.4);
		border-radius: 25%;
		font-size: 24px;
		font-weight: 600;
		color: #000000;
	}

	&__score {
		margin-bottom: 15px;
	}
	&__title {
		margin-bottom: 10px;
	}
	&__statistic {
	}
	&__statistic :not(:last-child) {
		margin-bottom: 5px;
	}
	&__score-result {
	}
	&__score-result span {
		margin-left: 5px;
	}

	&__move {
		font-size: 16px;
		font-weight: 600;
	}
	&__move span {
		text-transform: uppercase;
		font-weight: 500;
		margin-left: 5px;
		color: aliceblue;
	}

	&__menu {
		display: none;
		// opacity: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
.menu {
	padding: 30px;
	width: 280px;
	color: aliceblue;
	border-radius: 10px;
	background-color: #000000;
	box-shadow: rgb(0, 0, 0) 3px 4px 8px 3px;
	&__rival {
		margin-bottom: 20px;
	}

	&__rival-title {
		margin-bottom: 10px;
	}

	&__rival-btns {
	}

	&__rival-btn {
		text-transform: uppercase;
		padding: 15px;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transition: 0.2s ease;
	}
	&__rival-btn:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	&__move {
	}

	&__move-title {
		margin-bottom: 10px;
	}

	&__move-btns {
	}

	&__move-btn {
		padding: 15px;
		background-color: rgba(255, 255, 255, 0.1);
		border-radius: 10px;
		transition: 0.2s ease;
	}
	&__move-btn:hover {
		background-color: rgba(255, 255, 255, 0.2);
	}

	&__close-btn {
	}
}
.board {
	width: 300px;
	display: flex;
	flex-wrap: wrap;
	&__cell {
		width: 33.333%;
		padding-bottom: 33.333%;
		display: flex;
		border: 1px solid rgba(0, 0, 0, 0.3);
		justify-content: center;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.2);
		border-radius: 25%;
		font-family: "Roboto", sans-serif;
	}
}
.contacts {
	display: none;
	background-color: rgb(238, 146, 146);
	&__link {
	}
}
.contacts :not(:last-child) {
	margin-right: 20%;
}
